.wrapper {
  display: inline-flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  transition: opacity 150ms ease-in;
}

.contentWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  transition: opacity 150ms ease-in;
}

.popoverContent {
  z-index: 2000;
  transition: opacity 150ms ease-in;
}
