.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9000;
  transition: opacity 150ms ease-in;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9001;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity 150ms ease-in;
}

.inner {
  pointer-events: auto;
}
