.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--surface-overlay);
}

.anchoredWrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.anchoredWrap > .backdropClickCatcher {
  pointer-events: auto;
}

.anchoredWrap > .modal {
  pointer-events: auto;
}

.backdropClickCatcher {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  position: relative;
  border-radius: var(--radius-container);
  padding: 15px;
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  box-sizing: border-box;
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.emojiCell {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-row);
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  font-family: inherit;
}

.emojiCell:hover {
  background-color: var(--surface-overlay-light);
}

.emoji {
  font-size: 24px;
}
