.container {
  background-color: var(--surface-overlay-heavy);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-container);
}

.inner {
  padding: 50px;
  border-radius: var(--radius-container);
  display: flex;
  align-items: center;
}
