.container {
  background-color: var(--surface-overlay-heavy);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.inner {
  padding: 50px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
