.root {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusText {
  margin-bottom: 20px;
  color: var(--info);
  font-size: 18px;
  font-weight: 400;
}

.enrollButton {
  margin-bottom: 20px;
}
