.outerBox {
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.innerBox {
  width: 100%;
  border: 1px solid var(--payment-border, #b6dab6);
  background-color: var(--payment-bg, #f7fbf7);
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-shrink: 0;
}
